node_modules
.git
*.log
dist
.vscode
*.sqlite
*.zip
*.tar.gz
*.tgz
coverage
build
.cache
.DS_Store
.env
frontend/node_modules
frontend/.git
frontend/*.log
frontend/dist
frontend/.vscode
frontend/coverage
frontend/build
frontend/.cache
frontend/.DS_Store
frontend/.env